Copyright (c) {{YEAR}} {{COPYRIGHT_HOLDER}}. Todos los derechos reservados.

Este software es propiedad privada. No se otorga ninguna licencia de uso,
copia, modificación, o distribución de este código o de la documentación
asociada, salvo autorización expresa y por escrito del titular de los
derechos.

---

Copyright (c) {{YEAR}} {{COPYRIGHT_HOLDER}}. All rights reserved.

This software is proprietary. No license to use, copy, modify, or distribute
this code or its associated documentation is granted, except by express
written permission of the copyright holder.
